# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos do sistema
.DS_Store
Thumbs.db

# Credenciais (NUNCA subir)
credentials/*.json

# Arquivos temporários
*.log
*.tmp

# JSONs gerados automaticamente
relatorios/*.json